include README.md
include taxidata/lib/TL_SCCO_SIG_W.gml

include taxidata/core/network/nodelink/Seoul_Edgelist.csv
include taxidata/core/network/nodelink/Seoul_Links.cpg
include taxidata/core/network/nodelink/Seoul_Links.dbf
include taxidata/core/network/nodelink/Seoul_Links.prj
include taxidata/core/network/nodelink/Seoul_Links.sbn
include taxidata/core/network/nodelink/Seoul_Links.sbx
include taxidata/core/network/nodelink/Seoul_Links.shp
include taxidata/core/network/nodelink/Seoul_Links.shp.xml
include taxidata/core/network/nodelink/Seoul_Links.shx
include taxidata/core/network/nodelink/Seoul_Nodes.cpg
include taxidata/core/network/nodelink/Seoul_Nodes.dbf
include taxidata/core/network/nodelink/Seoul_Nodes.prj
include taxidata/core/network/nodelink/Seoul_Nodes.sbn
include taxidata/core/network/nodelink/Seoul_Nodes.sbx
include taxidata/core/network/nodelink/Seoul_Nodes.shp
include taxidata/core/network/nodelink/Seoul_Nodes.shp.xml
include taxidata/core/network/nodelink/Seoul_Nodes.shx
include taxidata/core/network/nodelink/RN_seoul.npz

include taxidata/src/d_curve.dll
include taxidata/src/d_curve.so
include taxidata/src/origin/d_curve.cpp